
/* footer */

.body{
    display: grid;
    justify-content: center;
    align-content: end;
    background: linear-gradient(-270deg,var(--or),var(--or),var(--rd));
    padding: 50px;
}

footer{
    position: relative;
    height: auto;
    padding: 50px 100px;
    background: transparent;
}

footer .contain {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .contain .sec h2{
    position: relative;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .contain .sec p{
    color: #fff;
}

footer .contain .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}

footer .contain .sci li{
    list-style: none;
}

footer .contain .sci li a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: var(--rd);
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
}

footer .contain .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .contain .quicklinks {
    position: relative;
}

footer .contain .quicklinks ul li{
    list-style: none;
}

footer .contain .quicklinks ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .contain .quicklinks ul li a:hover {
    color: #ffffff;
  text-shadow: 2px 2px 4px #fff;
}

footer .contain .contact .info{
    position: relative;
}

footer .contain .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .contain .contact .info li span{
    color: #fff;
    font-size: 20px;
}

footer .contain .contact .info li a{
    color: #fff;
    text-decoration: none;
}

.copyrightText{
    background: #fff;
    padding: 20px 100px 30px;
    text-align: center;
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-style: italic;
}


@media (max-width: 4800px) {
    .grid-containers{
        margin: 20px 80px;
        display: grid;
        column-gap: 50px;
        grid-template-columns: repeat(4, 1fr); 
    }
    .containers{
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
    }
    
    .containers:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .containers h1 b {
        font-size: 40%;
    }

    .containers h1 {
        display: none;
    }
    .containers img.policy{
        border-radius: 10px;
        width: 80%;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}




@media (max-width: 991px) {
    footer{
        padding: 40px;
    }
    footer .contain {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
    .copyrightText{
        padding: 20px 40px  30px;
    }

    .num p {
        font-size: 56px;
        padding: 2px 21px;
    }

    .num img{
        width: 150px;
    }
    .grid-containers {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px 20px;
        grid-template-columns: repeat(3, 1fr); 
    }
    .containers{
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
    }
    
    .containers:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .containers h1 b {
        font-size: 40%;
    }
    .containers img.policy{
        border-radius: 10px;
        width: 80%;
        margin-top: 1em;
    }
}


@media (max-width: 850px) {
    .containers h1 b {
        font-size: 25%;
    }
    .containers h1 {
        margin-block-start: 0;
        margin-block-end: 0;
    }

}

@media (max-width: 768px) {
    footer .contain {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
    .copyrightText{
        padding: 20px 40px  30px;
    }
    
    .num p {
        position: absolute;
        color: #fff;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 800;
        padding: 2px 15px;
    }

    .num img{
        width: 100px;
    }
    .grid-containers {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px 20px;
        grid-template-columns: repeat(2, 1fr); 
    }
    .containers{
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
    }
    
    .containers:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .containers h1 b {
        font-size: 40%;
    }
    .containers img.policy{
        border-radius: 10px;
        width: 80%;
        margin-top: 0.83em;
    }
}


@media (max-width: 490px) {
    .num {
       display: none;
    }
    nav ul li {
        list-style: none;
    }
    #sideNav {
        width: 200px;
    }.grid-containers {
        display: grid;
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px 20px;
        grid-template-columns: repeat(2, 1fr); 
    }
    .containers{
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 10px;
    }
    
    .containers:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .containers h1 b {
        font-size: 40%;
    }
    .containers img.policy{
        border-radius: 10px;
        width: 80%;
        margin-top: 0.83em;
    }
}

.containers .h7{
    display: none;
    transition: 1s;
}

.containers {
    transition: 1s;
}

.containers :hover{
    transition: 1s;
}

.containers:hover img.policy{
    display: none;
    transition: 1s;
}

.containers img.policy{
    transition: 1s;
}

.containers .h7 ul li{
    transition: 1s;
}

.w3-animate-zoom {
    animation: animatezoom 1s;
}

.containers:hover h1 {
    display: block;
    transform: translateY(-25px);
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}
