*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: var(--txt-font);
}

:root {
--ci1: #ff6a00;
--ci2: #ff7f00;
--ci3: #003057;
--ci4: #0f5186;
--ci5: #001d42;
--link: #ff6a00;
--link-hover: #ff7f00;
--btn-bg: #ff6a00;
--btn-bg-hover: #ff7f00;
--nav-link: #ff6a00;
--nav-hover: #ff6a00;
--bg-color: #ffffff;
--text-color: #333;
--txt-font: "Anakotmai",-apple-system, BlinkMacSystemFont, sans-serif;
--pmr-font: "AnakotmaiWeb",-apple-system, BlinkMacSystemFont,"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
--footbar-bg: #ff7f00;
--colophon-bg: #ff6a00;
--red: #FF0000;
--redorange: linear-gradient(to top,var(--colophon-bg),var(--red),var(--red));
}
.hero{
width:100%;
height:100vh;
background-image: linear-gradient(rgba(233, 21, 21, 0.09),rgba(255,112,13,0.09));
position:relative;
padding: 0 5%;
display:flex;
align-items: center;
justify-content: center;
}

nav{
width: 100%;
position: absolute;
top: 0;
left: 0;
padding: 20px 8%;
display: flex;
align-items: center;
justify-content: space-between;
}

nav .logo{
width: 110px;
}
nav ul li{
list-style: none;
display: inline-block;
margin-left: 40px;
}
nav ul li a{
text-decoration: none;
color: #22409A;
font-weight: 600;
font-size: 20px;
}

.back-img{
width: 100%;
  height:100%;
}
@media screen and (max-width:768px){
.back-img{
width: 100%;
  height:100%;
  }
.hero{
width:100%;
height:50vh;
}
}

@media screen and (max-width:425px){
.hero{
width:100%;
height:25vh;
}
}

@media screen and (max-width:1024px){
.content h1{
font-size: 90px;
}
.content a{
font-size: 16px;
border-top-left-radius: 8px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 8px;
padding: 8px 44px;

border: 3px solid var(--red);
}
nav ul li a{
font-size: 14px;
}
.h6 {
    font-size: 1.5em !important;
}
}


@media screen and (max-width:768px){
.content h1{
font-size: 60px;
}
.content a{
font-size: 14px;
border-top-left-radius: 8px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 8px;
padding: 6px 24px;

border: 3px solid var(--red);
}
nav ul li a{
font-size: 12px;
}

.back-img{
width: 100%;
height: 100%;
}

nav .logo{
width: 60px;
}
.a{
height: 20px;
}
}

@media screen and (max-width:665px){
.content h1{
font-size: 24px;
}
.content a{
font-size: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 20px;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 8px;

border: 3px solid var(--red);
}
nav ul li a{
font-size:6px;
}

.h6 {
    font-size: 1em !important;
}
}

.a{
margin-left: 5px;
}
.back-img{
position: absolute;
right: 0;
bottom: 0;
z-index: -1;
width: 100%;
}
::selection {
background: var(--red);
color: #fff;
text-shadow: none;
}

@media screen and (min-width: 768px){
.footer {
    text-align: left;
    list-style: circle;
}
}
.footer {
    background-color: #373737;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 40px;
}
body footer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
article, aside, figcaption, figure, footer, header, hgroup, main, section {
    display: block;
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
  }}
@media (min-width: 992px){
.container {
    max-width: 960px;
  }}
@media (min-width: 768px){
.container {
    max-width: 720px;
  }}
@media (min-width: 576px){
.container {
    max-width: 540px;
  }}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px){
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }}
.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer .home-page a img {
    height: 40px;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}

@media screen and (min-width: 768px){
.footer .footer-menu-1, .footer .footer-menu-2, .footer .footer-menu-3 {
    margin-top: 30px;
}}

.footer .widget {
    width: 100%;
    margin-top: 30px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, section {
    display: block;
}
.footer h3 {
    font-size: 18px;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
h3 {
    font-size: 2rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}


.mb-2, .my-2 {
    margin-bottom: 0.5rem!important;
}
.mt-2, .my-2 {
    margin-top: 0.5rem!important;
}
p {
    margin: 1.5rem 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


.footer .widget {
    width: 100%;
    margin-top: 30px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, section {
    display: block;
}

.a2a_kit, .a2a_menu, .a2a_modal, .a2a_overlay {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    outline: 0;
}
.addtoany_list {
    display: inline;
    line-height: 16px;
}

.footer .footer-menu-1 a {
    color: #fff;
}
.addtoany_list a, .widget .addtoany_list a {
    border: 0;
    box-shadow: none;
    display: inline-block;
    font-size: 16px;
    padding: 0 4px;
    vertical-align: middle;
}
.a2a_kit a {
    cursor: pointer;
    transition: none;
}
a, a:hover {
    color: #fff;
}
a{
    color: #fff;
}
a {
    text-decoration: none;
    background-color: transparent;
}

.addtoany_list a:not(.addtoany_special_service)>span {
    border-radius: 4px;
    display: inline-block;
    opacity: 1;
}

.a2a_kit .a2a_svg {
    background-repeat: repeat;
}
.addtoany_list .a2a_svg {
    padding: 6px;
    border-radius: 50% !important;
}
.addtoany_list a span {
    display: inline-block;
    float: none;
}
.a2a_svg {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    padding: 0;
    pointer-events: none;
    width: 32px;
}
.a2a_svg svg {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    display: block;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
    height: auto;
}
svg {
    overflow: hidden;
}
img, svg {
    vertical-align: middle;
}

@media (min-width: 768px){
.col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}


@media screen and (min-width: 768px){
.footer .footer-menu-2, .footer .footer-menu-3 {
    text-align: left;
    display: block;
    margin-top: 0;
  }}
@media screen and (min-width: 768px){
.footer .footer-menu-1, .footer .footer-menu-2, .footer .footer-menu-3 {
    margin-top: 30px;
  }}
.footer .footer-menu-2, .footer .footer-menu-3 {
    text-align: center;
}


@media screen and (min-width: 768px){
.footer .footer-menu-2, .footer .footer-menu-3 {
    text-align: left;
    display: block;
    margin-top: 0;
  }}

@media screen and (min-width: 768px){
.footer .footer-menu-1, .footer .footer-menu-2, .footer .footer-menu-3 {
    margin-top: 30px;
  }}
.footer .footer-menu-2, .footer .footer-menu-3 {
    text-align: center;
}


@media screen and (min-width: 768px){
.footer .footer-menu-2>section.widget:first-child, .footer .footer-menu-3>section.widget:first-child {
    margin-top: 0;
  }}

.footer .widget {
    width: 100%;
    margin-top: 30px;
}


.footer .widget {
    width: 100%;
    margin-top: 30px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, section {
    display: block;
}

div {
    display: block;
}

@media screen and (min-width: 768px){
.footer ul {
    list-style: disc;
  }}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.footer ul {
    margin-top: 0;
}
.footer ul {
    margin-bottom: 1rem;
}

.footer ul li {
    color: #fff;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
